RUNNER_HOST=0.0.0.0
RUNNER_PORT=19090
RUNNER_TOKEN=replace-with-a-random-token-at-least-24-characters
RUNNER_ENABLED=true
RUNNER_HEADLESS=false
RUNNER_BROWSER=chromium
RUNNER_OPERATION_TIMEOUT_MS=180000
